esphome:
  name: jc3248w535-dev
  friendly_name: jc3248w535_dev

esp32:
  framework:
    type: esp-idf
    sdkconfig_options:
      CONFIG_FATFS_LFN_STACK: "y"

packages:
  device: !include templates/JC3248W535.yaml

external_components:
  - source:
      type: git
      url: https://github.com/abel-msk/esphome
      ref: local_image
    components: [ storage, sdmmc, local_image ]

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: "cDl2M2IrXylo3iyxktWmDpb7ylL1h/05AX+1Awytf9Y="

ota:
  - platform: esphome
    password: "6fe1e4c9e857f4815fbe3ab682e6d15e"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Jc3248W535-Dev Fallback Hotspot"
    password: !secret web_server_password

captive_portal:

web_server:
  port: 3218
  local: True
  include_internal: true
  auth:
    username: !secret web_server_username
    password: !secret web_server_password
    
http_request:

sdmmc:
  id: sdcard1
  mode_1bit: true
  cmd_pin: GPIO11
  clk_pin: GPIO12
  data0_pin: GPIO13

substitutions:
  displayRotation:          "270"

